MySubject/main_program/testdata/JPEG/
MySubject/main_program/testdata/LDR_TEST_IMAGES_DICM/
MySubject/main_program/result/
MySubject/main_program/prev_result/
MySubject/test_program/testdata/
MySubject/test_program/testdata/
MySubject/test_program/evaluate_data/
.idea/
MySubject/.idea

